<div>
    <h1 class="title">All Anime</h1>
</div>

<div>
  <ul class="pagination justify-content-center">
    {{#unless page1}}
        <li class="page-item">
            <a class="page-link" href="/anime/previousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="/anime/all/1">1</a></li>
        {{#unless page2}}
            <li class="page-item"><a class="page-link" href="/anime/all/{{prevPage}}">...</a></li>
            <li class="page-item"><a class="page-link" href="/anime/all/{{prevPage}}">{{prevPage}}</a></li>
        {{/unless}}
    {{/unless}}
    <li class="page-item"><a class="page-link selected-page" href="/anime/all/{{page}}">{{page}}</a></li>
    {{#unless page300}}
        {{#unless page299}}
            <li class="page-item"><a class="page-link" href="/anime/all/{{nextPage}}">{{nextPage}}</a></li>
            <li class="page-item"><a class="page-link" href="/anime/all/{{nextPage}}">...</a></li>
        {{/unless}}
        <li class="page-item"><a class="page-link" href="/anime/all/300">300</a></li>
        <li class="page-item">
        <a class="page-link" href="/anime/nextPage" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    {{/unless}}
  </ul>
</div>

<div class="container">
    <div class="row">

        {{#each anime}}
            <div class="col-4 anime-details">
                <a href="/anime/anime-details/{{mal_id}}">
                <div class="anime">

                    <img src={{image_url}} alt={{title}}>
                    <p>{{title}}</p>

                </div>
                </a>
            </div>
        {{/each}} 

    </div>
</div>

<div class="pageSelector">
</div>
